/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2014, 2:33:00 PM
    Author     : Dell
*/

#wrapper{float: left;width:100%;}
.main_container{margin:0 auto;width: 80%;border: 1px solid gray;}